*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/.kotlin/sessions/
.externalNativeBuild
.cxx

# Misc
*.log
*.class
*.apk
*.aar
*.jks
*.keystore
*.hprof

# OS-specific
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store?
._*